parameters:
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '|Access to an undefined property object::\$name\.|'
    - '|.*Swoole.*|'
    - '|.*SWOOLE_.*|'
    - '|Argument of an invalid type string supplied for foreach, only iterables are supported.|'
    - '/Result of || is always true\./'
