parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '|Access to an undefined property object::\$name\.|'
        - '|.*Swoole\\Http\\Request.*|'
        - '|.*Swoole\\Http\\Response.*|'
        - '|.*Swoole\\Http\\Server.*|'
