<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         colors="true"
         backupGlobals="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="false">
    <testsuites>
        <testsuite name="hamlet-core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
